<div class="p-5">
  <h2 class="text-center text-white"><strong>Gamerankingへようこそ！</strong></h2>
</div>
<p class="text-center text-white">体験したゲームのレビューを自由に</p>
<p class="text-center text-white">管理者の方はこちらのログインをクリック</p>
<p class="text-center admin-button">
  <%= link_to "ログイン", new_admin_session_path, class: "btn btn-light text-primary" %>
</p>

