<div class="container .w-auto">
  <div class="row">
    <div class="col-lg-7 mb-5">
      <div class="main_container">
        <div class="title">
          Gamerankingへようこそ！！<br>
        </div>
        <div class="image">
          <%= image_tag "22947329.jpg", class: "main_image" %>
        </div>
        <%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post %>
      </div>
    </div>
  </div>
</div>