// Place all the styles related to the member/games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.image_tag {
  width: auto;    /* 横幅を割合で指定 */
  height: auto;  /* 高さは自動指定 */
}

.col-md-4 {
  box-sizing: border-box;
}