<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <table class='table'>
        <tr>
          <td><%= image_tag @game.get_image, size:'100x100' %></td>
          <td><%= @game.title %></td>
          <td><%= @game.body %></td>
        </tr>
      </table>
    </div>
  </div>
</div>