<footer class="text-center text-lg-start">
  <div class="container">
    <div class="row">
      <div class="mx-auto text-center mt-1">
        <img src="/assets/logo1.png" alt="ロゴ" width="180" height="50" class="mb-2">
        <ul class="d-flex align-items-center">
          <li class="social-link mr-5">
            <a href="#">
              <i class="fa-brands fa-instagram social-icon"></i>
            </a>
          </li>
          <li class="social-link">
            <a href="#">
              <i class="fa-brands fa-twitter social-icon"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>