<footer class="text-center text-lg-start">
  <div class="container">
    <div class="row">
      <div class="mx-auto text-center mt-1">
        <img src="/assets/logo2.png" alt="ロゴ" width="180" height="60" class="mb-2">
      </div>
    </div>
  </div>
</footer>